.container{
  width: 500px;
  display: inline-block;
  margin-right: 100px;
  padding-top: 50px;
}
.content{
  width: 700px;
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
}
.button1{
  background-color: rgb(167, 4, 4);
  color: white;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 2px;
  cursor: default;
}
.button{
  background-color: #9a618c;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
}
.button:hover{
 opacity: 0.9;
 background-color:#c971b3;
}
.main{
  width: 500px;
  display: block;
  margin-left: 15px;
}
.checked{
  color: orange;
}
.point:hover{
  cursor: pointer;
  text-decoration: underline;
}

 